<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header">
</head>
<body>
<div th:replace="fragment/navVar :: nav"></div>
<div class="container">
    <div class="k">
        <div th:object="${bullentin}">
            <li id="subj" th:text="|subject : *{subject} by(*{author})|"></li>
            <div id=contents>
                <label for="cont">Content</label>
                <p id="cont" th:text="*{content}"></p>
            </div>
            <a th:href="@{/board/edit/{id}(id=${bullentin.id})}">
                <button class="modify btn btn-primary"> modify</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
