<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header">
</head>
<style>
    #search-input {
        display: block;
    }

    #searchForm {
        display: flex;

    }

    a {
        color: black;
        text-decoration: none;
    }
</style>
<body>
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="getMargin">
        <a href="/" th:href="@{/}"><i class="fas fa-home homeIcon"></i></a>
        <a class="navbar-brand" href="/" th:href="@{/}">Home |</a>
    </div>
    <form id="searchForm" th:action="@{/board/search}" method="post">
        <input id="search-input" th:field="${search.subject}" class="form-control mr-sm-2" type="text"
               placeholder="Search" aria-label="Search">&nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>
<main role="main" class="container">
    <div class="k">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h1 class="border-bottom border-gray pb-2 mb-0">Recent updates</h1>
            <div th:each="bulletin : ${bulletinListDtos}">
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@<span th:text="${bulletin.author}"></span></strong>
                        <strong><span>subject : </span></strong>
                        <a th:href="@{/board/{id}(id=${bulletin.id})}">
                            <span th:text="${bulletin.getSubject()}"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a th:href="@{/board/add}">
                <button class="btn btn-primary" style="float:right">add</button>
            </a>
        </div>
    </div>


</main>

